{% extends "base.html" %}

{% block title %}All Flights{% endblock %}
{% block content %}
<table class="table" style="width: 100%">
    <th> Flight</th>
    <th> Start Time</th>
    <th> End Time </th>
    <th> Destination </th>
    <th> Source </th>
    <th> Capacity </th>
    <th> Status </th>
    <th> Airplane </th>
    <th> Destination Airport </th>
    <th> Source Airport </th>

    {% for line in data %}
    <tr>
        <td>{{line[0]}}</td>
        <td>{{line[1]}}</td>
        <td>{{line[2]}}</td>
        <td>{{line[3]}}</td>
        <td>{{line[4]}}</td>
        <td>{{line[5]}}</td>
        <td>{{line[6]}}</td>
        <td>{{line[7]}}</td>
        <td>{{line[8]}}</td>
        <td>{{line[9]}}</td>

    </tr>
    {% endfor %}

</table>
{% endblock %}
